{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body_class %}home-page{% endblock %}

{% block content %}
    <h1>Welcome to the Cryptography App</h1>
    <p>Select an option to proceed:</p>
    <div class="button-container">
        <a href="{{ url_for('text_cryptography') }}" class="button">Text Cryptography</a>
        <a href="{{ url_for('image_cryptography') }}" class="button">Image Cryptography</a>
        <a href="{{ url_for('video_cryptography') }}" class="button">Video Cryptography</a>
    </div>
{% endblock %}
